#frontPagePic{
    max-width: 100%;
    min-height: 100vh;
    object-fit: cover;
    text-align: center;
}

/*Title*/
#imageText span{
    color: #036b34;
    font-family: 'Indie Flower', cursive;
    /*font-family: 'Times New Roman', cursive;*/
    /*text-shadow: 50px 10px 30px grey;*/
}

#imageText{
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    font-size: 10rem;
    text-shadow: 2px 2px 4px #000000;
}

#nav{
    border:0;
    border-radius: 0;
    padding:0;
    margin: 0;
    height: inherit;
    background-color: #ffffff;
    box-shadow: 1px 1px 5px grey;
}

.navbar-brand{
    font-family: 'Indie Flower', cursive;
    font-size: 25px;
    color: #036b34;
}

.nav.navbar-nav li a{
    color: #de499b;
}

section{
    min-height: 100vh;
    padding-top: 50px;
    padding-bottom: 50px;
}

#cityPreview, #ourVision, #ourUniverse, #app, #contactUs, #termsAndConditions, #travelTales #cityPreview, #globeGurus, #cityGlobeGurus, #cityDescription{
    padding-right: 15%;
    padding-left: 15%;
}

.panel-footer{
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    text-align: center;
}

#footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 7%;
    text-align: right;
    margin: 0;
}

#footerText{
    margin-top: 13px;
}

#footerText a:link{
    color: black;
}

.apps{
    font-size: 2.0em;
    text-align: left;
    /*color: #036b34;*/
}

#appLinks a:link{
    color: #036b34;
}

#cityPreview, #app, #contactUs, #globeGurus, #cityDescription, #cityGlobeGurus{
    background-color: #dfdfdf;
}

#container{
    text-align: center;
}

#container p{
    font-family: Calibri, sans-serif;
    font-size: 1.3em;
}

#container h2{
    font-family: 'Raleway', sans-serif;
    font-size: 4rem;
    padding-bottom: 35px;
    color: #036b34;
}

#container h3{
    font-family: 'Raleway', sans-serif;
    color: #de499b;
}

.noPadding{
    padding: 0 !important;
}

img.globeguru{
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.cImg{
    width: 100%;
}

#globeGurus h3, #globeGurus h4{
    text-align: center;
    color: #de499b;
}

#tabPane{
    display: table;
    margin: auto;
}

.btn.btn-default{
    background-color: #de499b;
    color: #ffffff;
    margin: 0.5%;
}

.europe-map{
    /*object-fit: cover;*/
    /*margin: auto;*/
    /*height: 40%;*/
    /*width: 100%;*/
    /*text-align: center;*/
}

.carousel{

    width: 60em;
    height: 35em;


}