section{
    /*padding-top: 70px;*/
    /*padding-left: 20px;*/
    /*margin-top: 70px;*/
    height: 100vh;
}

#frontSection{
    margin-top: 70px;
}

.panel_footer{
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    text-align: center;
    color: #ffffff;
    background-color: #000000;
}

#nav{
    border:0;
    border-radius: 0;
    padding:0;
    margin:0;
    height: inherit;
}

#title{
    text-align: center;
    /*font-size: 3em;*/
    font-family: 'Cinzel', serif;
}

#cityPreview, #guidesAndGurus, #app, #travelGuides{
    background-color: #dfdfdf;
    text-align: center;
}

/*#frontSection, #ourVision, #ourUniverse, #guides, #globeGurus{*/
    /*background-color: antiquewhite;*/
/*}*/

.headers{
    text-align: center;
    padding: 3%;
}

#frontpagePic{
    max-width: 100%;
    max-height: 100%;
}

#fillScreen{
    position: static;
    text-align: center;
}

.noPadding{
    padding: 0 !important;
}



