
.my_section {
    padding-top: 70px;
    padding-left: 20px;

}
.panel_footer{
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    text-align: center;
    background-color: #000000;
}

#nav {
    border:0;
    border-radius: 0;
    padding:0;
    margin:0;
    height: inherit;

}

#start_overskrift{
    text-align: center;
    font-family: "Comic Sans MS", cursive, sans-serif;

}

#home, #guidesAndGurus, #app{
    background-color: #dfdfdf;
    text-align: center;

}

#app {

    text-align: center;


}

#ourVision, #ourUniverse, #globeGurus {

    text-align: center;

}

#pic1{
    text-align: center;

}



