#title{
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 6rem;
}

#nav{
    border:0;
    border-radius: 0;
    padding:0;
    margin: 0;
    height: inherit;
    /*background-color: #036b34;*/
}

section{
    min-height: 100vh;
    padding-top: 50px;
}

.panel_footer{
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    text-align: center;
    color: #ffffff;
    /*background-color: #036b34;*/
    background-color: #000000;
}

#footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: right;
    margin: 0;
}

#cityPreview, #ourUniverse, #contactUs, #travelGuides{
    background-color: #dfdfdf;
}

/*container til index-html, container2 til guides.html*/
#container, #container2{
    text-align: center;
}

#frontPagePic{
    max-width: 100%;
    min-height: 100vh;
    object-fit: cover;
}

#fillScreen{
    text-align: center;
}

.noPadding{
    padding: 0 !important;
}

img.globeguru{
    width: 100%;
    height: 150px;
    object-fit: cover;
}

#globeGurus h3, #globeGurus h4{
    text-align: center;
}

#tabPane{
    display: table;
    margin: auto;
}

/*#carousel{*/
/*}*/